.container {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  color: tomato;
  border: 20px solid tomato;
  box-sizing: border-box;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.App{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #282c34;
  color: white;
  text-align: center;
}

@media (max-width: 1400px){
  .App {
      grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 1000px){
  .App {
      grid-template-columns: auto auto auto;
  }
}

@media (max-width: 800px){
  .App {
      grid-template-columns: auto auto;
  }
}

@media (max-width: 500px){
  .App {
      grid-template-columns: auto;
  }
}